<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/spices.jpeg" alt="NYTimes loves us">
          <div class="container">
            <div class="carousel-caption">
              <h1>NYTimes Loves Us!</h1>
              <p>"Can't say enough about this Indian gem..."</p>
            </div>
          </div>
        </div>
        <div class="item" >
          <img src="images/mehndi.jpeg" alt="Mehndi raat">
          <div class="container">
            <div class="carousel-caption">
              <h1>Bridezilla</h1>
              <i>"Get crazzy bitches..." - </i> Manish S. Kandhari
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/sangeet1.jpeg" alt="Sangeet">
          <div class="container">
            <div class="carousel-caption">
              <h1>IndiaTimes</h1>
              <p>Something something....</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


